*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin:0;
font-family:"Noto Sans", sans-serif;
background:#E5E8E1;
}

/* HEADER FULL WIDTH */

.header{

width:100%;
height:80px;

background-color:#1F3A44;
}

.header-content{

width:1024px;
padding:0 80px;
padding-top: 8px;
gap:24px;
display:flex;
align-items:center;
justify-content:space-between;
columns: 4;

}

/* LOGOS */

.logo-hormiga,
.logo-cineteca{
columns: 1;
width:146px;
fill: #E5E8E1; 
}

/* CONTENEDOR PRINCIPAL */

.container{

width:1024px;
margin:auto;

padding:0 80px;

display:flex;
flex-direction:column;

}


/* NAV SECCIONES */

.nav-secciones{
width:100%;
height:55px;
background-color:#1F3A44;
display:flex;
justify-content:center;
margin-bottom:32px;
}
.icono{ 
    height:31px;
    margin-bottom: 5px;
}
.nav-btn{

height:55px;
width: 198px;
font-size: 25px;
font-weight: 600;
color:#E5E8E1 ;
border:none;
cursor:pointer;
display: flex;
align-items: center;
justify-content: center; 
gap: 14px;
padding: 15px 25px;
background-color: #1F3A44;

}
.cat-btn.active{

background-color:#6E2C1E;
color:#E5E8E1;
box-shadow:none;

}
.cat-btn:hover,
.cat-btn.active{

background-color:#6E2C1E;
color:#E5E8E1;
box-shadow:none;

}

.pictos{
    color: #E5E8E1;
    width: 20px;
}

/* BARRA CATEGORIAS */

.categorias{
display:flex;
justify-content:space-between;
margin-bottom:45px;
}

.cat-btn{

font-size:20px;

border:none;
border-radius:12px;

padding:12px 24px;

background:#E5E8E1;

cursor:pointer;

box-shadow:1px 1px 5px 1px rgba(0,0,0,0.25);
font-weight: 400;
}

.cat-btn:hover{
background-color: #6E2C1E;
color:#E5E8E1;
box-shadow: none;

}


/*INSTRUCCIONES */
.Instruccion{
font-size: 25px;  
font-weight: 600;
margin-bottom: 48px;
}

/* GRID PRODUCTOS */

.productos{

display:grid;

grid-template-columns:repeat(4,198px);

gap:24px;

}


/* TARJETA PRODUCTO */

.producto{

width:198px;
height:352px;

background:#E5E8E1;

border-radius:12px;

display:flex;
flex-direction:column;
align-items:center;

padding:24px;
padding-bottom: 16px;

box-shadow:1px 1px 5px 1px rgba(0,0,0,0.25);

}


/* IMG PRODUCTO */

.producto-img{

width:120px;
height:120px;

background:#d9d9d9;

margin-bottom:24px;

}


/* TEXTO PRODUCTO */

.producto-nombre{

font-size:25px;
font-weight:600;

text-align:center;
margin-bottom:45px;


}


/* BOTON */

.btn-seleccionar{

font-size:20px;

padding:12px 24px;

height:51px;

border:none;

border-radius:12px;

background:#6E2C1E;
color:#E5E8E1;

cursor:pointer;

}
